  .container {
    margin: 1% 5%;
    font-family: sans-serif;
    text-align: center;
  }
  .heading {
    color: rgba(11, 164, 184, 0.842);
    text-align: center;
  }
  .nav-links {
    display: flex;
    list-style: none;
    justify-content: center;
  }
  .nav-link-item {
    padding-right: 2rem;
  }
  .nav-link-text {
    color: black;
  }
  .site-title {
      font-size: 3rem;
      color: rgba(11, 164, 184, 0.842);
      font-weight: 700;
      text-align: center;
  }

  th, td {
    padding: 15px;
  }

  th {
    background-color: rgba(11, 164, 184, 0.842);
    color: white;
  }

  tr {
    border-bottom: 1px solid;
  }

  table {
    border: 1px solid;
    border-collapse: collapse;
    margin-top: 1rem;
  }

  tr:nth-child(even) {background-color: #f2f2f2;}